.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 16px;
  overflow: scroll;
}

.login-cta {
  max-width: 128px;
  text-align: center;
}

.logo {
  position: relative;
  margin-bottom: 48px;
  margin-top: 24px;
}

.alert {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all ease-in 5s;
}
