<ion-content [fullscreen]="true">
    <div id="container">
        <div class="nav nav-pills cta">
            <div class="nav-item">
                <a class="nav-link"
                   (click)="takeSnap()">
                    <span></span><i class="tim-icons icon-camera-18"></i> Scan </a></div>
        </div>
        <div class="recent-items">
            <button class="btn btn-sm btn-default btn-round">
                View All <i class="tim-icons icon-minimal-right"></i>
            </button>
            <div class="nav nav-pills">
                <div class="nav-item">
                    <a class="nav-link"
                       href="javascript:void(0);">
                        <span></span><i class="tim-icons icon-badge"></i> Aadhar </a></div>

                <div class="nav-item">
                    <a class="nav-link"
                       href="javascript:void(0);">
                        <span></span><i class="tim-icons icon-paper"></i> License </a></div>

                <div class="nav-item">
                    <a class="nav-link"
                       href="javascript:void(0);">
                        <span></span><i class="tim-icons icon-paper"></i> Doc1 </a></div>

                <div class="nav-item">
                    <a class="nav-link"
                       href="javascript:void(0);">
                        <span></span><i class="tim-icons icon-paper"></i> Doc2 </a></div>
                <div class="nav-item">
                    <a class="nav-link"
                       href="javascript:void(0);">
                        <span></span><i class="tim-icons icon-paper"></i> Doc3 </a></div>

                <div class="nav-item">
                    <a class="nav-link"
                       href="javascript:void(0);">
                        <span></span><i class="tim-icons icon-paper"></i> Doc4 </a></div>

                <div class="nav-item">
                    <a class="nav-link"
                       href="javascript:void(0);">
                        <span></span><i class="tim-icons icon-paper"></i> Doc1 </a></div>

                <div class="nav-item">
                    <a class="nav-link"
                       href="javascript:void(0);">
                        <span></span><i class="tim-icons icon-paper"></i> Doc2 </a></div>
                <div class="nav-item">
                    <a class="nav-link"
                       href="javascript:void(0);">
                        <span></span><i class="tim-icons icon-paper"></i> Doc3 </a></div>

            </div>
        </div>
    </div>
</ion-content>
