#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.cta {
  position: absolute;
  top: 10vh;
  justify-content: center;
  animation: scanIt 0.8s cubic-bezier(0.87, 0.12, 0.25, 1);
  .nav-link {
    background: linear-gradient(to bottom left, #3ccbcc 60%, #4bb0e6 80%, #54b0ff);
    color: #000;

  }
}

.recent-items {
  position: absolute;
  padding: 48px 16px 16px 16px;
  bottom: 0;
  height: 70vh;
  overflow: scroll;
  display: block;
  background: rgb(31,34,81);
  border-radius: 10% 10% 0 0;
  align-self: end;
  animation: recentItems 0.8s cubic-bezier(0.87, 0.12, 0.25, 1);
  .nav {
    justify-content: center;
  }
  .nav-link {
    background: linear-gradient(to bottom left, #1746cc 60%, #397ee6 80%, #47b3ff);
    margin: 12px;
  }

  button {
    position: absolute;
    right: 25px;
    margin-top: -25px;
    font-size: 0.75rem;
  }
}

.navigation {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
  height: 61px;
}

@keyframes recentItems {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scanIt {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
